body{
	margin: 5;
	padding: 0;
	background-image: url("building.jpg");
	background-size: cover;
    background-color: rgb(4, 0, 255);
	background-attachment: fixed;	
}

h2{
	color: #FFFF;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-shadow: 2px 1px #0000FF;
}

button{
	border: 2px solid #FFFF;
	background: white;
	padding: 3px 3px;
	font-size: 13px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin: 5px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
	color: #1E90FF;
}

button:hover {
	border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

label{
    font-size: 15px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #FFFF;
}

.btn2{
    position: relative;
    margin-left: -20px;
}