body{
	margin: 5;
	padding: 0;
	background-image: url("building2.jpg");
	background-size: cover;
	background-attachment: fixed;	
}

h2{
	color: #FFFF;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-shadow: 2px 1px #0000FF;
}

button{
	border: 2px solid #1E90FF;
	background: white;
	padding: 5px 5px;
	font-size: 13px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin: 5px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
	color: #1E90FF;
}

button:hover {
	border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

label{
    font-size: 15px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #FFFF;
    font-weight: bold;
}

.tabelica{
    table-layout: fixed;
    width: 1700px;
}

.podnaslovi{
    font-size: 17px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #FFFF;
    background-color: #1E90FF;
    height: 25px;
    width: 360px;
    overflow: hidden;
}

.polja{
    border: 2px solid 1E90FF;	
    position: relative;
    margin-left: -6px;
	height: 25px;
}

.fajl{
    margin-left: -6px;
	position: relative;
	height: 25px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #1E90FF;
    border-style: inherit;
}

.picture{
    margin-left: -155px;
    margin-top: 25px;
	position: relative;
    color: #1E90FF;
}

.labela{
	font-size: 15px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #FFFF;
    font-weight: bold;
}

td{
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

