body{
	margin: 5;
	padding: 0;
	background-image: url("building.jpg");
	background-size: cover;
	background-attachment: fixed;	
}

h2{
    color: #FFFF;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-shadow: 2px 1px #0000FF;
}

h3{
    color: #FFFF;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-shadow: 2px 1px #0000FF;
}

button{
	border: 2px solid #FFFF;
	background: white;
	padding: 5px 5px;
	font-size: 13px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin: 5px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
	color: #1E90FF;
	font-weight: bold;
}

button:hover {
	border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

td{
    background: none;
	padding: 5px 5px;
	font-size: 13px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #FFFF;
}

.tabela1{
    border: 3px solid #3498db;
	border-collapse: collapse;
	text-align: center;
}

thead{
	background-color: #3498db;
	opacity: 0.9;
	border-top: none;
}

.tabela1>tbody>tr:nth-child(even){
	background-color: skyblue;
}

.tabela1>tbody>tr:nth-child(odd){
	background-color: #56cfcf;
}
