body{
	margin: 5;
	padding: 0;
	background-image: url("building.jpg");
	background-size: cover;
  	background-color: rgb(4, 0, 255);
}

h2{
	color: #FFFF;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-shadow: 2px 1px #0000FF;
}

.register{
	text-align: center;
	margin-top: 20px;
}

button{
	border: 2px solid #FFFF;
	background: none;
	padding: 5px 5px;
	font-size: 15px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin: 5px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
}

.btn1{
	color: #1E90FF;
	position: relative;
}

.btn2 {
	color: #1E90FF;
	position: absolute;
	  left: 85px;
	  top: 253px;
}

.btn1:hover, .btn2:hover{
	border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

.labele {
	font-size: 20px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #FFFF;
}

.polja {
	border: 1px solid #3498db;
	margin-left: 15px;
	position: relative;
	height: 25px;
}

.combo {
	border: 1px solid #3498db;
	margin-left: 15px;
	position: relative;
	height: 25px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #1E90FF;
}

.error {
	font-size: 15px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	color: #FF4500;
}
